/* Copyright C 2023 The BBJProjeK Organization */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --link: #1D4F91;
  --link-alt: #911D1D;
  --normal: #202020;
  --background: #FFFFFF;
  --ffamily-code: "IBM Plex Mono",ui-monospace,SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --link: #6CACE4;
    --link-alt: #EB6060;
    --normal: #202020;
    --background: #000000;
  }
}

html {
  scroll-behavior: smooth;
  word-wrap: break-word;
  max-width: 100%;
  overflow-y: scroll;
}

body {
  font-size: 85%;
  background-color: var(--background);
  font-family: var(--ffamily-code);
}

pre {
  font-family: var(--ffamily-code);
  white-space: pre-wrap;
}

img, iframe {
  max-width: 100%
}

a:link, a:visited {
  color: var(--link);
}

a.nolink {
  color: var(--link-alt);
  pointer-events: none
}
