/* Copyright C 2024 The BBJProjeK Organization */

body {
  background-image: url('img/bck_light.svg');
  background-repeat: repeat;
  background-size: 140%;
}

@media (prefers-color-scheme: dark) {
   body {
     background-image: url('img/bck_dark.svg');
   }
 }
