/* Copyright C 2023 The BBJProjeK Organization */

.branding_color { /* Set BBJProjeK Main Color */
  color: #1d4f91;
}

.entry { /* Blog entry properties */
  border-width:2px;
  border-style:solid;
  border-color:#C0C0C0;
  padding: 1em;
  border-radius: 1rem
}
.entry_onentry {
  border-width:2px;
  border-style:solid;
  border-color:#C0C0C0;
  padding: 1em;
  border-radius: 1rem
}
.entry:hover {
    background-color: rgba(29, 79, 145, 0.1);
}
a.entry_clickable {
  display: block;
  font-style: normal;
  text-decoration: none;
}
.entry_date {
  text-transform: uppercase;
  margin-top: 0px;
  font-weight: normal;
}
.entry_title {
  padding-top: 0px;
  margin-bottom: 0px
}

/*** Dark Mode ***/
@media (prefers-color-scheme: dark) {
  .branding_color {
    color: #6CACE4;
  }

  .entry {
    border-color: #848C99;
  }

  .entry:hover {
    background-color: rgba(108, 172, 228, 0.1);
  }
}
