/* Copyright C 2023 The BBJProjeK Organization */

.branding_color { /* Set BBJProjeK Main Color */
  color: var(--branding-authority);
}

.entry { /* Blog entry properties */
  border-width:2px;
  border-style:solid;
  border-color:#C0C0C0;
  padding: 1em;
  border-radius: 1rem
}
.entry_onentry {
  border-width:2px;
  border-style:solid;
  border-color:#C0C0C0;
  padding: 1em;
  border-radius: 1rem
}
.entry:hover {
    background-color: rgba(0, 106, 142, 0.1);
}
a.entry_clickable {
  display: block;
  font-style: normal;
  text-decoration: none;
}
.entry_date {
  text-transform: uppercase;
  margin-top: 0px;
  font-weight: normal;
  margin-bottom: 0px;
}
.entry_title {
  padding-top: 0px;
  margin-bottom: 0px
}

h2.entry_title {
  margin-top: 0.4rem;
}

h3.entry_title {
  font-style: italic;
  font-size: 1em;
  margin-top: 0.4rem;
}

/*** Dark Mode ***/
@media (prefers-color-scheme: dark) {
  .branding_color {
    color: var(--branding-authority);
  }

  .entry {
    border-color: #848C99;
  }

  .entry:hover {
    background-color: rgba(72, 169, 197, 0.1);
  }
}
