/* Copyright C 2023 BBJProjeK Labs */

html {
  font-size: 100%;
  scroll-behavior: smooth;
  word-wrap: break-word;
}

body {
  background-color: #FFFFFF;
  margin: 5%;
}

h1, h2, h3, h4, a, p, ol, ul {
  font-family: "Proxima Nova",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: #1C1E21;
}

h1, h2, h3 {
  color: #404040;
}

a:link, a:active {
  /* color: green; */
}

/*  Header Section */
header {
  background-color: #1D4F91;
  padding: 10px;
  border-radius: 10px;
}

.header-title {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
  color: #FFFFFF;
  font-weight: bold;
}

.utc {
  align: right;
}

.h2o {
  color: #404040;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left, .nav-middle, .nav-right {
  flex-basis: 33%;
  text-align: center;
}

.nav-left {
  text-align: left;
}

.nav-right {
  text-align: right;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #FFFFFF;
  color: #404040;
}

/*** Dark Mode ***/
@media (prefers-color-scheme: dark) {
   body {
     background-color: #1C1E21;
   }

   h1, h2, h3, h4, a, p {
     color: #FFFFFF;
   }

   h1, h2, h3 {
     color: #CCCCCC;
   }

   .h2o {
     color: #CCCCCC;
   }

   li {
     color: #FFFFFF;
   }

   header {
     background-color: #6CACE4;
   }
}
