/* Copyirght C 2023 Sergio Fernández */

html {
  font-size: 110%;
  scroll-behavior: smooth;
  word-wrap: break-word;
}

body {
  background-color: #FFFFFF;
  margin: 5%;
}

h1,
h2,
h3,
h4,
a,
p {
  font-family: "DM Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: #1C1E21;
}

a:link,
a:active {
  /* color: green; */
}
a:visited {
  color: #6D7F9A;
}
a:hover {
  color: #D7DADF;
}

li {
  list-style:square;
}

}
@media screen and (min-width: 1150px) {
}

/*** Dark Mode ***/
@media (prefers-color-scheme: dark) {
   body {
     background-color: #1C1E21;
   }

   h1,
   h2,
   h3,
   h4,
   a,
   p {
     color: #FFFFFF;
   }

   a:visited {
     color: #768289;
   }
   a:hover {
     color: #505050;
   }

   li {
     color: #FFFFFF;
   }
}
