/* Copyright C 2023 The BBJProjeK Organization */

html {
  font-size: 100%;
  scroll-behavior: smooth;
  word-wrap: break-word;
  max-width: 1250px;
  margin: auto;
  overflow-y: scroll;
}

body {
  background-color: #FFFFFF;
  margin: 5%;
}

:root {
  --branding: #1D4F91;
  --branding-authority: #006A8E;
  --heading: #404040;
  --normal: #202020;
  --secondary: #606060;
  --ffamily: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  --ffamily-code: ui-monospace,SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;

  /* Temp root classes */
  --a-color: #202020;
  --main: #202020;
}

/* Main layout */
h1, h2, h3, h4, a, p, ol, ul {
  font-family: var(--ffamily);
  color: var(--normal);
}

h1, h2, h3, h4 {
  color: var(--heading);
}

h3, h4 {
  font-style: italic;
}

ol li, ul li {
    margin-bottom: 8px;
}

code {
  font-family: var(--ffamily-code);
  color: var(--normal);
}

.secondary {
  color: var(--secondary);
}

a:link, a:active, a:visited {
  font-weight: bold;
  color: var(--branding-authority);
}

/*  Header Section */
header {
  background-color: var(--branding-authority);
  padding: 10px;
  border-radius: 10px;
}

.header-title {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  display: block;
  text-align: center;
  width: 100%;
  margin: 0;
  color: #FFFFFF;
  font-weight: bold;
}

.header-title:hover {
  color: #FFFFFF;
}

a.header-subtitle {
  font-weight: normal;
  color: #FFFFFF;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left, .nav-middle, .nav-right {
  flex-basis: 33%;
  text-align: center;
}

.nav-left {
  text-align: left;
}

.nav-right {
  text-align: right;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #FFFFFF;
  color: #404040;
}

/* Header-style bottons */
.box {
  margin-top: -5px;
  text-decoration: none;
  width: auto;
  color: #FFFFFF;
  background-color: var(--branding-authority);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.box:hover {
  border-color: var(--branding-authority);
  border-width: 2px;
  border-style: solid;
  background-color: #FFFFFF;
  color: var(--heading);
}

a.box {
  color: #FFFFFF;
}

/* Misc */
.utc {
  align: right;
}

.h2o {
  color: #BB1420;
}

.h3o {
  color: #404040;
}

/*** Dark Mode ***/
@media (prefers-color-scheme: dark) {
   body {
     background-color: #1C1E21;
   }

   :root {
     --a-color: #FFFFFF;
     --normal: #FFFFFF;
     --header-normal: #202020;
     --heading: #CCCCCC;
     --branding: #6CACE4;
     --branding-authority: #48A9C5;
   }

   h1, h2, h3, h4, a, p, code {
     color: var(--normal);
   }

   h1, h2, h3, h4 {
     color: var(--heading);
   }

   ul.secondary {
     color: #B7B7B7;
   }

   .h2o {
     color: #BB6969;
   }

   .h3o {
     color: var(--heading);
   }

   a:link, a:active, a:visited {
     color: var(--branding-authority);
   }

   header, .box {
     background-color: var(--branding-authority);;
   }

   nav a {
     color: var(--normal);
   }

   nav a:hover {
     background-color: var(--header-normal);
     color: var(--normal);
   }

   .box:hover {
     border-color: var(--branding-authority);
     background-color: var(--header-normal);
     color: var(--header-normal);
   }

   a.box:hover {
     color: var(--normal);
   }

   a.box {
     color: var(--header-normal);
   }

   .header-title, .header-subtitle, .box {
     color: var(--header-normal);
   }

   .header-title:hover {
     color: var(--header-normal);
   }

   a.header-subtitle {
     color: var(--header-normal);
   }

   .box:hover {
     border-color: var(--branding-authority);;
   }
}

/* Animations for fading in and out each letter */
.header-title span {
  animation: fadeInOut 0.2s forwards;
  opacity: 0;
  display: inline-block;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  49.5% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
