/* Copyright C 2023 BBJProjeK Labs */

#map {
  height: 400px;
}

.container {
  background-color: #C0C0C0;
  width: auto;
  border-radius: 10px;
}

.skill {
  font-family: "Sagona",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: bold;
  background-color: #1D4F91;
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 10px;
}

.html {
  width: 52%;
}

.align-right {
  text-align: right;
}

/*** Dark Mode ***/
@media (prefers-color-scheme: dark) {
  .skill {
    background-color: #6CACE4;
  }

  .container {
    background-color: #404040;
  }
