/* Copyright C 2023 The BBJProjeK Organization */

#map {
  height: 420px;
}

.container {
  background-color: #C0C0C0;
  width: auto;
  border-radius: 10px;
}

.skill {
  font-family: var(--ffamily);
  font-weight: bold;
  background-color: var(--branding-authority);
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 10px;
}

.html {
  width: 98%;
}

.align-right {
  text-align: right;
}

/*** Dark Mode ***/
@media (prefers-color-scheme: dark) {
  .skill {
    background-color: var(--branding-authority);
  }

  .container {
    background-color: #404040;
  }
