/* Copyright C 2024 The BBJProjeK Organization */

html,
body {
  width: 100%;
  margin: 0;
  background: #ffffff;
}

:root {
  --branding: #1D4F91;
  --branding-authority: #006A8E;
  --normal: #121212;
  --heading: #404040;
  --ffamily: "DM Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  --ffamily-code: "DM Mono",ui-monospace,SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.card {
  background-color: #ffffff;
  margin: 30px auto 0;
  max-width: 450px;
  padding: 48px 40px 36px;
  border-radius: 8px;
  border: 1px solid #333333;
}

.header {
  width: 100%;
  height: 100%;
}

.header img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  color: #var(--normal);;
  font-size: 24px;
  text-align: center;
  font-family: var(--ffamily);
  font-weight: 400;
}

h4 {
  color: #757575;
  text-align: center;
  font-family: var(--ffamily);
  font-weight: 400;
}

.form {
  padding: 24px 0 0;
}

.input {
  display: inline-block;
  width: 215px;
  margin: 8px auto;
  text-align: center;
}

.input:first-child {
  margin-right: 16px;
}

input {
  width: 215px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #333333;
  color: #var(--normal);;
  padding: 13px 0;
  outline: none;
  text-indent: 15px;
  font-size: 15px;
  font-family: var(--ffamily-code);
  transition: border-color 0.4s;
}

input:focus {
  border: 2px solid var(--branding-authority);
  padding: calc(13px - 1px) 0;
  width: calc(100% - 2px);
  text-indent: 14px;
}

input:focus:required:invalid {
  border-color: var(--branding-authority);
}

input::placeholder {
  color: #80868b;
}

span {
  font-family: var(--ffamily-code);
}

#copied {
  color: #var(--normal);;
  opacity: 0;
  transition: .28s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#generate {
  background-color: var(--branding-authority);
  border-radius: 4px;
  box-shadow: none;
  width: 96px;
  font-size: 15px;
  color: #ffffff;
  padding: 11px 15px;
  border: 0;
  outline: none;
  text-align: center;
  font-family: var(--ffamily);
  transition: .28s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#generate:hover {
  background-color: var(--branding-authority);
  box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
}

#generate:focus {
  background-color: var(--branding-authority);
}

.output {
  margin: 8px auto 0;
  min-width: 400px;
  text-align: center;
}

#output {
  min-width: 100%;
  max-height: 24em;
  min-height: 8em;
  resize: vertical;
  border-radius: 4px;
  border: 1px solid #333333;
  background-color: #ffffff;
  color: #var(--normal);;
  outline: none;
  padding: 0;
  font-size: 14px;
  font-family: var(--ffamily-code);
}

.footer,
ul, ol, li,
a:link,
a:visited,
a:hover,
a:active {
  color: #757575;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--ffamily);
}

/*** Phone sizes ***/
@media only screen and (max-width: 601px) {
  .card {
    background-color: fff;
    margin: 5px;
    max-width: 450px;
    padding: 48px 40px 0;
    border-radius: 0;
    border: 0;
  }
  .input {
    width: 100%;
    margin: 8px auto;
    text-align: right;
  }
  .input:first-child {
    margin-right: 16px;
  }
  input {
    width: 100%;
  }
  #generate {
    width: 96px;
  }
  .output {
    margin: 8px auto 0;
    width: 100%;
    min-width: 0;
    text-align: center;
  }
  #output {
    width: 100%;
    max-height: 24em;
    min-height: 8em;
    resize: vertical;
    border-radius: 4px;
    border: 1px solid #dadce0;
    outline: none;
    padding: 0;
    font-size: 14px;
  }
  h4 {
    margin: 40px;
  }
}


/*** Dark Mode ***/
@media (prefers-color-scheme: dark) {

  html,
  body {
    background: #121212;
  }

  :root {
    --a-color: #FFFFFF; /* Define a root variable for primary color */
    --normal: #FFFFFF;
    --heading: #CCCCCC;
    --branding: #6CACE4;
    --branding-authority: #48A9C5;
  }

  .card {
    background-color: #121212;
  }

  h1 {
     color: #FFFFFF;
  }

  h4 {
    color: #757575;
    text-align: center;
    font-weight: 400;
  }

  input {
    background-color: #121212;
    color: #fff;
  }

  input::placeholder {
    color: #80868b;
  }

  #copied {
    color: #ffffff;
  }

  #generate {
    background-color: var(--branding-authority);
    color: #121212;
  }

  #generate:hover, #generate:focus {
    background-color: var(--branding-authority);
  }

  #output {
    background-color: #121212;
    color: #fff
  }

  a:active {
    color: #757575;
  }

  input:focus {
    border: 2px solid var(--branding-authority);
  }

  input:focus:required:invalid {
    border-color: var(--branding-authority);
  }
}
